*{margin:0;padding:0;}
*{box-sizing: border-box;}
*::after{box-sizing: border-box;}
*::before{box-sizing: border-box;}
ul,ol{ list-style:none; }
a{color:inherit; text-decoration: none;}
input{font: inherit;}

body{
  font-size: 12px;
  line-height: 1.5;
}
/* topbar */
section.topbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #D43C33;
  padding: 17px 10px;
}
section.topbar .logo>svg{
  width: 142px;
  height: 25px;
  vertical-align: top;

}
section.topbar > a{
  color: white;
  display: inline-block;
  padding: 5px 11px;
  line-height: 20px;
  position: relative;
}
section.topbar > a::after{
  content:'';
  position: absolute;
  top:0;
  left: 0;
  width: 200%;
  height: 200%;
  border: 1px solid white;
  border-radius: 50px;
  transform: scale(0.5);
  transform-origin: 0 0;
}


/* layout */
.wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}
.page{
  position: relative;
  width: 700px;
  display: inline-block;
  flex-direction: column;
  display: flex;
  height: 440px;
  box-shadow: 4px 4px 7px 0px rgba(50, 50, 50, 0.86);
  border-radius: 10px;

}

.second{
  display: flex;
  flex-direction: row;
}

.page > main{
  border: 1px solid green;
  flex-grow: 1;
  padding-left: 20px;
  height: 100px;
}

/* aside */
.page > aside{
  display: flex;
  /* width: 200px; */
  flex-direction: column;
}
.newSong{
  text-align: center;
  padding: 10px;
  cursor: pointer;
}
.newSong.active{
  background: #fafafa;
}
#songList-container{
  flex-grow: 1;
}
.songList{
  text-align: left;
  border-top: 1px solid #999;
}
.songList > li{
  cursor: pointer;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}
.songList > li:nth-child(2n){
  background-color: #EFEFEF;
}

.songList > li:nth-child(2n+1){
  background-color: #F7F7F7;
}

.songList > li.active{
  background: #C8C8C8;
}

.songList > li.active::after{
  background: #C8C8C8;
}

.uploadArea{
  position: absolute;
  bottom: 0;
}

.draggable{
  text-align: center;
  padding: 20px;
  border-radius: 4px;
  border: 2px dashed #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  cursor: pointer;

}


/* main */

.page > main{
  background: #FAFAFA;
}

main > h1{
  color: #D43C33;
  margin-left: 5em;
}


.form {
  font-size: 12px;
  margin-left: 35px;
}


.form > .row{
  margin: 20px 0;
  display: flex;
}
.form > .row > label{
  width: 4em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 5px;
}
.form > .row.actions{
  margin-left: calc(4em + 5px);
}
.form > .actions > button{
  border: 0;
  background-color: #D43C33;
  width: 150px;
}

.form input[type=text]{
  padding: 3px 8px;
  border-radius: 5px;
  border: 1px solid #ddd;
  height: 30px;
}
.form input[type=button],
.form input[type=submit],
.form button{
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
}
.page > main {
  padding-top: 20px;
}
.page > main > .form{

}

/* loading */

@keyframes loading{
  0% {
    transform: scale(1.0);
  }
  100% {
    transform: scale(0.1);
  }
}
.site-loading{
  /* 刚开始加载页面的时候是隐藏的 */
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0,0,0,0.2);
  /* 用户可以穿透 div */
  pointer-events: none;
}
.site-loading.active{
  visibility: visible;
}
.site-loading::before{
  content: '';
  display: block;
  width: 100px;
  height: 100px;
  background: #C20C0C;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  border-radius: 50%;
  animation: loading 1s infinite alternate-reverse;
  animation-timing-function: linear;
}
